body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-gainsboro-100: rgba(217, 217, 217, 0.64);
  --color-gainsboro-200: rgba(217, 217, 217, 0.17);
  --color-gainsboro-300: rgba(217, 217, 217, 0.61);
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.08);
  --color-gray-200: rgba(0, 0, 0, 0.49);
  --color-darkslateblue-100: #725297;
  --color-darkslateblue-200: rgba(81, 56, 110, 0.69);
  --color-darkslategray: rgba(67, 67, 67, 0.11);

  /* Gaps */
  --gap-lg: 18px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-11xs: 2px;
  --padding-lgi: 19px;
  --padding-2xs: 11px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-smi-8: 12.8px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}